@page "/todo"

<PageTitle>Todo App</PageTitle>
<h1>ToDo App</h1>

@if (tasks.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in tasks)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.AssigneeName</td>
                <td>@task.Priority</td>
                <td>@task.Status</td>
                <td>@task.CreatedAt.ToString("d")</td>
                <td><a href="/todo/detail/@task.Id"><button class="btn btn-info">Detail</button></a></td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <LoadingIndicator/>
}