@page "/todo"

<PageTitle>Todo App</PageTitle>

<h1>ToDo</h1>

<TaskFilter onSearch="OnSearch"></TaskFilter>

@if (tasks is not null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in tasks)
        {
            <tr>
                <td>@task.Title</td>
                <td>
                    @if (string.IsNullOrEmpty(task.AssigneeName))
                    {
                        <div>N/A</div>
                    }
                    else
                    {
                        <div> @task.AssigneeName</div>
                    }
                </td>
                <td>
                    <TaskPriority Priority="@task.Priority"></TaskPriority>
                </td>
                <td>
                    <TaskStatus Status="@task.Status"></TaskStatus>
                </td>
                <td>@task.CreatedAt.ToString("d")</td>
                <td>
                    <a href="/todo/detail/@task.Id" class="btn btn-sm btn-primary">Detail</a>
                    <a href="/todo/edit/@task.Id" class="btn btn-sm btn-info">Edit</a>
                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteTask(task.Id)">Delete</button>
                    <button class="btn-danger btn-sm btn-secondary" @onclick="() => AssignTask(task.Id)">Assign</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <ConfirmationModal @ref="ConfirmationModal" confirmEvent="OnDelete"/>

    <AssignTaskModal @ref="AssignTaskModal" OnSubmitted="OnAssignTask"/>
}
else
{
    <LoadingIndicator/>
}