@page "/todo"
@using TodoApp.Model.Enums

<PageTitle>Todo App</PageTitle>

<h1>ToDo</h1>


<EditForm Model="searchQuery">
    <div class="row">
        <div class="col-2">
            <label class="form-label">Title</label>
            <InputText class="form-control" @bind-Value="searchQuery.Title"></InputText>
        </div>

        <div class="col-2">
            <label class="form-label">Assignee</label>
            <InputSelect class="form-control" @bind-Value="searchQuery.AssigneeId">
                <option>Select an assignee</option>
                @foreach (var assignee in assignees)
                {
                    <option value="@assignee.Id">@assignee.Name</option>
                }
            </InputSelect>
        </div>

        <div class="col-2">
            <label class="form-label">Status</label>
            <InputSelect class="form-control" @bind-Value="searchQuery.Status">
                <option>Select a status</option>
                @foreach (var status in Enum.GetNames(typeof(Status)))
                {
                    <option value="@status">@status</option>
                }
            </InputSelect>
        </div>

        <div class="col-2">
            <label class="form-label">Priority</label>
            <InputSelect class="form-control" @bind-Value="searchQuery.Priority">
                <option>Select a priority</option>
                @foreach (var priority in Enum.GetNames(typeof(Priority)))
                {
                    <option value="@priority">@priority</option>
                }
            </InputSelect>
        </div>

        <div class="col-2 pt-4">
            <div class="row">

                <div class="col-6">
                    <button class="btn btn-primary" @onclick="Search">Search</button>

                </div>
                <div class="col-6">
                    <button class="btn btn-secondary" @onclick="ClearSearch">Clear</button>

                </div>
            </div>
        </div>

        <div class="col-2 pt-4 align-content-end">
            <a href="/todo/new" class="btn btn-success justify-content-end">Create</a>
        </div>
    </div>

</EditForm>

@if (tasks is not null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in tasks)
        {
            <tr>
                <td>@task.Title</td>
                <td>
                    @if (string.IsNullOrEmpty(task.AssigneeName))
                    {
                        <div> @task.AssigneeName</div>
                    }
                    else
                    {
                        <div>"N/A"</div>
                    }
                </td>
                <td>
                    <TaskPriority Priority="@task.Priority"></TaskPriority>
                </td>
                <td>
                    <TaskStatus Status="@task.Status"></TaskStatus>
                </td>
                <td>@task.CreatedAt.ToString("d")</td>
                <td>
                    <a href="/todo/detail/@task.Id" class="btn btn-sm btn-primary">Detail</a>
                    <a href="/todo/edit/@task.Id" class="btn btn-sm btn-info">Edit</a>
                    <a href="/todo/edit/@task.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <LoadingIndicator/>
}